<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UofUApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E41C834E1CD40D1E000693F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E41C83621CD40D1F000693F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E41C836D1CD40D1F000693F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
